h1 {
    font-weight: bold;
}

.container {
    display: block;
    margin: 40px auto;
    text-align: center;
    transition: 0.3s;
    width: 60vw;
}

#highScoreView,
#timer,
#hScoreFont,
#start-header{
    color: rgb(55, 18, 88);
    font-weight: bold;
    padding: 0 10px 0 0;
}

.button {
    background: radial-gradient(circle, rgb(107, 80, 182) 0%, rgba(55, 18, 88, 0.954) 100%);
    border-radius: 8px;
    color: hsl(210, 14%, 95%);
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 16px;
    padding: 10px 27px;
    text-align: center;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  #questions,
  #results,
  #score,
  #timer,
  #questions,
  #answer,
  .respond {
      display: none;
  }
  .question-btns {
      text-align: left;
  }

  .navbar, 
  .bottom {
      border-bottom: 1px solid rgb(197, 167, 211);
  }
  



@media (max-width: 690px) {
    .button {
        background: radial-gradient(circle, rgb(107, 80, 182) 0%, rgba(55, 18, 88, 0.954) 100%);
        border-radius: 8px;
        color: hsl(210, 14%, 95%);
        cursor: pointer;
        font-size: 1em;
        letter-spacing: 0.21px;
        line-height: 16px;
        padding: 10px 27px;
        text-align: center;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        margin-top: 0.6em;
    }
    
  }
  
  @media (max-width: 400px) {
    .button {
        background: radial-gradient(circle, rgb(107, 80, 182) 0%, rgba(55, 18, 88, 0.954) 100%);
        border-radius: 8px;
        color: hsl(210, 14%, 95%);
        cursor: pointer;
        font-size: 12px;
        letter-spacing: 0.21px;
        line-height: 13px;
        padding: 8px 23px;
        text-align: center;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        margin-top: 0.4em;
    }
    h1 {
        font-size: 20px;
    }
    p,
    ol,
    li,
    #highScoreView,
    #timer,
    .respond {
        font-size: 12px;
    }
    .bottom{
        margin: 20px 0 0 0;
    }
    #startArea.container {
        padding: 0 0 0 0;
    }
    #timer {
        float: right;
        padding: 12px 0 0 0;
    }
}