.container {
    display: block;
    margin: 40px auto;
    text-align: center;
    transition: 0.3s;
    width: 60vw;
}
#high-score,
#timer {
    color: rgb(55, 18, 88);
    font-weight: bold;
    padding: 0 10px 0 0;
}

h1 {
    font-weight: bold;
}
.button,
.submit-button {
    background: radial-gradient(circle, rgb(107, 80, 182) 0%, rgba(55, 18, 88, 0.954) 100%);
    border-radius: 8px;
    color: hsl(210, 14%, 95%);
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.21px;
    line-height: 16px;
    padding: 10px 27px;
    text-align: center;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  #questions {
      display: none;
  }
  .question-btns {
      text-align: left;
  }

  #results {
      display: none;
  }
  #score {
    display: none;
  }
  #timer {
  }
  #answer {
      
  }
  .button-next {
      display: none;
  }
  .respond {
      display: none;
  }